<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet" />
    <title th:text="${pageTitle}">Booklog</title>
</head>
<body>

    <div class="container mx-auto my-4 p-4 bg-yellow-lighter">
        <h1 class="mb-4" th:text="${pageTitle}">Booklog</h1>

        <form class="flex flex-col h-screen m-4 p-4 bg-white" action="" method="post">

            <label class="flex flex-col py-2 px-3 text-grey-darkest uppercase" for="bookTitle">
                Title
                <input class="border mt-1 py-2 px-3 text-grey-darkest" type="text" name="bookTitle" id="bookTitle" />
            </label>

            <label class="flex flex-col py-2 px-3 text-grey-darkest uppercase" for="bookAuthor">
                Author
                <input class="border mt-1 py-2 px-3 text-grey-darkest" type="text" name="bookAuthor" id="bookAuthor" />
            </label>

            <label class="flex flex-col py-2 px-3 text-grey-darkest uppercase" for="bookPageCount">
                Pages
                <input class="border mt-1 py-2 px-3 text-grey-darkest" type="text" name="bookPageCount" id="bookPageCount" />
            </label>

            <input class="border rounded m-2 py-2 px-4 bg-grey-darkest hover:bg-grey-darker text-grey-lightest rounded" type="submit" value="Add a Book" />
        </form>

    </div>

</body>
</html>
