<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

    <div class="container mx-auto my-4 p-4 bg-grey-lighter rounded-lg max-w-md">
        <h1 class="m-4" th:text="${pageTitle}">Booklog</h1>

        <form th:object="${book}" class="flex flex-col h-screen m-4 p-4 bg-white rounded-lg" action="" method="post">

            <label class="flex flex-col py-2 px-3 text-grey-darkest uppercase" th:for="title">
                Title
                <input class="border mt-1 pt-3 px-3 pb-2 text-grey-darkest" type="text" th:field="*{title}" />
            </label>
            <div th:errors="*{title}" class="mx-3 my-1 bg-red-lightest text-red p-2 text-sm"></div>


            <label class="flex flex-col py-2 px-3 text-grey-darkest uppercase" th:for="author">
                Author
                <input class="border mt-1 py-2 px-3 text-grey-darkest" type="text" th:field="*{author}" />
            </label>
            <div th:errors="*{author}" class="mx-3 my-1 bg-red-lightest text-red p-2 text-sm"></div>


            <label class="flex flex-col py-2 px-3 text-grey-darkest uppercase" th:for="pageCount">
                Pages
                <input class="border mt-1 py-2 px-3 text-grey-darkest" type="text" th:field="*{pageCount}" />
            </label>
            <div th:errors="*{pageCount}" class="mx-3 my-1 bg-red-lightest text-red p-2 text-sm"></div>


            <input class="border rounded m-2 py-2 px-4 bg-grey-darkest hover:bg-grey-darker text-grey-lightest rounded" type="submit" value="Add a Book" />
        </form>

    </div>

</body>
</html>
