<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet" />
    <title th:text="${pageTitle}">Booklog</title>
</head>
<body>

    <div class="container mx-auto my-4 p-4 bg-yellow-lighter">
        <h1 th:text="${pageTitle}">Booklog</h1>

        <form class="flex flex-col h-screen m-4 p-4 bg-white" action="" method="post">

            <label class="flex flex-col uppercase py-2 px-3 text-grey-darkest" for="bookTitle">
                Title
                <input class="mt-1 border py-2 px-3 text-grey-darkest" type="text" name="bookTitle" id="bookTitle" />
            </label>

            <label class="flex flex-col uppercase py-2 px-3 text-grey-darkest" for="bookAuthor">
                Author
                <input class="mt-1 border py-2 px-3 text-grey-darkest" type="text" name="bookAuthor" id="bookAuthor" />
            </label>

            <label class="flex flex-col uppercase py-2 px-3 text-grey-darkest" for="bookPages">
                Pages
                <input class="mt-1 border py-2 px-3 text-grey-darkest" type="text" name="bookPages" id="bookPages" />
            </label>

            <input class="rounded border py-2 px-3 m-2 bg-grey-darkest hover:bg-grey-darker text-grey-lightest" type="submit" value="Add Book" />
        </form>

    </div>

</body>
</html>
