<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="flex min-h-screen">

<header th:replace="fragments :: header"></header>

<div class="w-3/4 p-16">

    <div th:object="${book}" class="flex">

        <div class="max-w-sm mr-16">

            <h1 th:replace="fragments :: pageTitle"></h1>

            <a th:text="*{author}"
               class="block no-underline text-2xl text-grey-darker"></a>

            <p class="mt-8 leading-normal">Here is the novel that will be forever considered a triumph of imagination.
                Set on the desert planet Arrakis, Dune is the story of the boy Paul Atreides, who would become the
                mysterious man known as Muad'Dib. He would avenge the traitorous plot against his noble family - and
                would bring to fruition humankind's most ancient and unattainable dream.</p>

            <table class="border-collapse mt-16">
                <tr class="border-t border-grey-light align-baseline">
                    <th class="pr-5 pl-8 text-grey-dark text-sm">Status</th>
                    <td class="py-5 pl-0 pr-8 text-grey-darkest text-2xl capitalize" th:text="*{status.name}"></td>
                </tr>
                <tr th:unless="*{pageCount == ''}"
                    class="border-t border-grey-light align-baseline">
                    <th class="pr-5 pl-8 text-grey-dark text-sm">Pages</th>
                    <td class="py-5 pl-0 pr-8 text-grey-darkest text-2xl" th:text="*{pageCount}"></td>
                </tr>
                <tr th:unless="*{isbn == ''}"
                    class="border-t border-grey-light align-baseline">
                    <th class="pr-5 pl-8 text-grey-dark text-sm">ISBN</th>
                    <td class="py-5 pl-0 pr-8 text-grey-darkest text-2xl" th:text="*{isbn}"></td>
                </tr>
            </table>


        </div>

        <div class="w-48">

            <img th:unless="*{isbn == ''}" th:src="'http://covers.openlibrary.org/b/isbn/' + *{isbn} + '-L.jpg'"
                 th:alt="'Cover art for ' + *{title} + ' by ' + *{author}"
                 class="w-full h-auto"
            />

            <div th:if="*{isbn == ''}"
                 class="h-64 w-48 mx-auto bg-orange-darkest border-8 border-red-darkest border-box shadow-md text-center flex flex-col justify-between pt-12 pb-4 px-4 text-orange-lightest">
                <p class="m-0 text-sm font-normal" th:text="*{title}"></p>
                <p class="m-0 text-xs font-thin" th:text="*{author}"></p>
            </div>

            <a th:href="${book.id} + '/edit'"
               class="block text-center text-sm font-bold no-underline py-3 mt-4 text-grey-dark border-grey-dark hover:text-orange hover:border-orange border rounded">Edit</a>

            <a th:href="'remove/' + ${book.id}"
               class="block text-center hover:bg-red text-grey-dark hover:text-white py-3 rounded text-sm font-bold hover:no-underline mt-2">Remove</a>
        </div>

    </div>

</div>

<div th:replace="fragments :: scripts"></div>

</body>
</html>
