<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

<div class="container mx-auto my-4 p-4 bg-grey-lighter rounded-lg max-w-md">
    <h1 class="m-4" th:text="${pageTitle}">Booklog</h1>

    <div th:object="${book}" class="flex flex-col h-screen m-4 p-4 bg-white rounded-lg" action="" method="post">

        <!--<div class="flex flex-col py-2 px-3 text-grey-darkest uppercase" th:text="*{title}">-->
        <!--</div>-->
        <div class="flex flex-col py-2 px-3 text-grey-darkest " th:text="*{author}">

        </div>
        <div class="flex flex-col py-2 px-3 text-grey-darkest " th:text="*{pageCount}"></div>


    </div>

</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>
