<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="flex min-h-screen">

<header th:replace="fragments :: header"></header>

<div class="w-3/4 p-16">
    <div class="max-w-md">

        <h1 th:replace="fragments :: pageTitle"></h1>

        <!-- addBookForm -->
        <form th:object="${book}"
              class="mt-16"
              action=""
              method="post"
        >
            <!-- Title -->
            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2 mt-6"
                   th:for="title">
                Title
            </label>
            <input class="appearance-none block w-full bg-grey-lighter text-grey-darker rounded py-3 px-4 mb-3 border-b-2 border-grey-light focus:outline-none focus:border-orange"
                   type="text" th:field="*{title}"
                   tabindex="2"/>
            <div th:errors="*{title}" class="text-red text-sm mb-2"></div>

            <!-- Author -->
            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2 mt-6"
                   th:for="author">
                Author
            </label>
            <input class="appearance-none block w-full bg-grey-lighter text-grey-darker rounded py-3 px-4 mb-3 border-b-2 border-grey-light focus:outline-none focus:border-orange"
                   type="text" th:field="*{author}" tabindex="3"/>
            <div th:errors="*{author}" class="text-red text-sm mb-2"></div>

            <!--Flex row -->
            <div class="flex">

                <!-- ISBN -->
                <div class="w-1/2 mr-8">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2 mt-4 focus:outline-none focus:border-orange"
                           th:for="isbn">
                        ISBN
                    </label>
                    <input class="appearance-none block w-full bg-grey-lighter text-grey-darker rounded py-3 px-4 mb-3 border-b-2 border-grey-light focus:outline-none focus:border-orange"
                           type="text"
                           th:field="*{isbn}"
                           tabindex="4"
                    />
                    <div th:errors="*{isbn}" class="text-red text-sm mb-2"></div>
                </div>


                <!-- Page Count -->
                <div class="w-1/2 mr-8">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2 mt-4"
                           th:for="pageCount">
                        Pages
                    </label>
                    <input class="appearance-none block w-full bg-grey-lighter text-grey-darker rounded py-3 px-4 mb-3 border-b-2 border-grey-light focus:outline-none focus:border-orange"
                           type="text" th:field="*{pageCount}" tabindex="5"/>
                    <div th:errors="*{pageCount}" class="text-red text-sm mb-2"></div>
                </div>

                <!-- Status -->
                <div class="w-1/2">
                    <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2 mt-4"
                           th:for="status">
                        Status
                    </label>
                    <div class="relative">
                        <select th:field="*{status}"
                                class="relative block appearance-none w-full bg-grey-lighter text-grey-darker py-3 px-4 pr-8 rounded border-b-2 border-grey-light focus:outline-none focus:border-orange"
                                tabindex="6">
                            <option th:each="bookStatus : ${bookStatuses}"
                                    th:text="${bookStatus.name}"
                                    th:value="${bookStatus}"
                                    class="p-4"></option>
                        </select>
                        <div class="pointer-events-none absolute pin-y pin-r flex items-center px-3 text-grey-darker">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20">
                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                            </svg>
                        </div>
                    </div>

                    <div th:errors="*{status}" class="text-red text-sm mb-2 mt-4"></div>
                </div>
            </div>
            <!--Flex row -->
            <!--<div class="flex">-->

                <!--&lt;!&ndash; dateStarted &ndash;&gt;-->
                <!--<div class="w-1/2 mr-8">-->
                    <!--<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2 mt-4"-->
                           <!--th:for="dateStarted">-->
                        <!--Date Started-->
                    <!--</label>-->
                    <!--<input class="appearance-none block w-full bg-grey-lighter text-grey-darker rounded py-3 px-4 mb-3 border-b-2 border-grey-light focus:outline-none focus:border-orange"-->
                           <!--type="date"-->
                           <!--th:field="*{dateStarted}"-->
                           <!--tabindex="5"-->
                           <!--placeholder="2001-01-01"-->
                    <!--/>-->
                    <!--<div th:errors="*{dateStarted}" class="text-red text-sm mb-2"></div>-->
                <!--</div>-->
                <!--&lt;!&ndash; dateFinished &ndash;&gt;-->
                <!--<div class="w-1/2">-->
                    <!--<label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2 mt-4"-->
                           <!--th:for="dateFinished">-->
                        <!--Date Finished-->
                    <!--</label>-->
                    <!--<input class="appearance-none block w-full bg-grey-lighter text-grey-darker rounded py-3 px-4 mb-3 border-b-2 border-grey-light focus:outline-none focus:border-orange"-->
                           <!--type="date"-->
                           <!--th:field="*{dateFinished}"-->
                           <!--tabindex="5"-->
                           <!--placeholder="2001-01-01"-->
                    <!--/>-->
                    <!--<div th:errors="*{dateFinished}" class="text-red text-sm mb-2"></div>-->
                <!--</div>-->


            <!--</div>-->


            <input class="bg-orange hover:bg-orange-dark text-white py-3 px-4 rounded font-bold float-right mt-5 text-xl shadow hover:shadow-md"
                   type="submit" value="Add Book" tabindex="7"/>
        </form>


    </div>
</div>
</body>
</html>
