<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet" />
    <title th:text="${pageTitle}">Booklog</title>
</head>
<body>

    <div class="container mx-auto my-4 p-4">
        <h1 th:text="${pageTitle}">Booklog</h1>

        <p th:unless="${books} and ${books.size()}">The shelves are empty</p>

        <ul>
            <li th:each="book : ${books}" th:text="${book.title}"></li>
        </ul>

    </div>

</body>
</html>
