<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="flex min-h-screen">

<header th:replace="fragments :: header"></header>

    <div class="container mx-auto my-4 p-4">
        <h1 class="mb-4" th:text="${pageTitle}">Booklog</h1>

        <p th:unless="${books} and ${books.size()}">The shelves are empty</p>

        <a href="/book/add" class="inline-block mt-4 py-2 px-4 rounded bg-grey-darkest hover:bg-grey-darker text-grey-lightest no-underline">Add a Book</a>
    </div>

<!--<footer th:replace="fragments :: footer"></footer>-->

</body>
</html>
