<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<header th:replace="fragments :: header"></header>

    <div class="container mx-auto my-4 p-4">
        <h1 class="mb-4" th:text="${pageTitle}">Booklog</h1>

        <p th:unless="${books} and ${books.size()}">The shelves are empty</p>

        <ul class="mt-4">
            <li class="mt-1" th:each="book : ${books}">
                <a th:href="${book.id}"><em th:text="${book.title}"></em></a> by <span th:text="${book.author}"></span> (<span th:text="${book.pageCount}"></span> pages)
            </li>
        </ul>

        <p class="mt-4">
            <strong>Total Pages:</strong>
            <span th:text="${pageTotal}"></span>
        </p>

        <a href="/book/add" class="inline-block mt-4 py-2 px-4 rounded bg-grey-darkest hover:bg-grey-darker text-grey-lightest no-underline">Add a Book</a>
    </div>

</body>
</html>
