<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="flex min-h-screen">

<header th:replace="fragments :: header"></header>

<div id="root" class="container mx-auto my-4 p-4 flex-1">
    <h2>Search</h2><form action="">
    <input v-model="bookQuery" placeholder="Ender's Game" @keyup.space="searchBook" />
    <input type="button" value="Search" @click="searchBook" />

    <p>searching for: <span v-text="bookQuery"></span></p>

    <ul v-for="result in searchResults">
        <li>
            <img v-if="result.isbn" :src="'http://covers.openlibrary.org/b/isbn/' + result.isbn[0] + '-S.jpg'" alt="book cover" />
            <p v-text="result.title"></p>
            <p v-if="result.author_name" v-text="result.author_name[0]"></p>
            <a href="">View Details</a>
        </li>
    </ul>

</div>

<!--<footer th:replace="fragments :: footer"></footer>-->

<script src="https://unpkg.com/vue@2.6.2/dist/vue.js"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/main.js"></script>

</body>
</html>
