<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="flex min-h-screen">

<header th:replace="fragments :: header"></header>

<div class="w-3/4 p-16">
    <h1 th:replace="fragments :: pageTitle"></h1>

    <p th:unless="${books} and ${books.size()}">The shelves are empty. <a href="/book/add"
                                                                          class="no-underline text-orange-dark hover:text-orange">Add
        a book.</a></p>

    <div class="mb-6" th:if="${books} and ${books.size()}">
        <table class="text-left w-full border-collapse rounded-lg overflow-hidden">
            <thead>
            <tr class="bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">
                <th class="py-4 px-6 ">Title</th>
                <th class="py-4 px-6 ">Author</th>
                <th class="py-4 px-6 text-right">Pages</th>
                <th class="py-4 px-6 text-right">Actions</th>
            </tr>
            </thead>
            <tbody th:each="book : ${books}">
            <tr class="hover:bg-grey-lighter border-b border-grey-light ">
                <td>
                    <a class="py-5 px-6 no-underline text-black block "
                       th:href="${book.id}" th:text="${book.title}"></a>
                </td>
                <td>
                    <a class="py-5 px-6 no-underline text-black block"

                       th:text="${book.author}"></a>
                </td>
                <td class="py-5 px-6 no-underline text-black block text-right"
                    th:text="${book.pageCount}">
                </td>
                <td class="py-5 px-6 text-right">
                    <a th:href="'remove/' + ${book.id}"
                       class="hover:bg-red text-red hover:text-white py-2 px-3 rounded text-xs font-bold hover:no-underline">Remove</a>
                    <!--<a th:href="'edit/' + ${book.id}" class="bg-white hover:bg-grey-darker text-grey-darker hover:text-white py-2 px-3 rounded text-xs font-bold no-underline border border-grey-darker mr-1">Edit</a>-->

                    <!--<a th:href="'remove/' + ${book.id}" class="hover:bg-red text-red hover:text-white py-2 px-3 rounded text-xs font-bold hover:no-underline mr-2">Remove</a>-->
                    <!--<a th:href="'edit/' + ${book.id}" class="bg-white hover:bg-green text-green hover:text-white py-2 px-3 rounded text-xs font-bold no-underline border border-green ml-2">Edit</a>-->
                    <!--<a th:href="${book.id}" class="bg-white hover:bg-blue text-blue hover:text-white py-2 px-3 rounded text-xs font-bold no-underline border border-blue">View</a>-->
                </td>
            </tr>
            </tbody>
            <tfooter>
                <tr class="border-grey-light">
                    <td class="py-4 px-6 text-right font-bold " colspan="3">
                        <span class="uppercase text-sm text-grey-dark mr-1">Total Pages</span> <span
                            th:text="${pageTotal}" class="text-2xl"></span></td>
                    <td class="py-4 px-6 text-right">
                        <a href="/book/add"
                           class="bg-white hover:bg-orange text-orange hover:text-white py-2 px-3 rounded text-sm font-bold no-underline border border-orange">Add
                            a Book</a>
                    </td>
                </tr>
            </tfooter>
        </table>
    </div>

</div>

<div th:replace="fragments :: scripts"></div>

</body>
</html>
