<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet" />
    <title th:text="${pageTitle}">Booklog</title>
</head>
<body>

<header th:fragment="header" class="w-1/4 flex flex-col bg-orange-dark text-white">
        <h1 class="w-full text-right text-5xl uppercase font-thin"><a href="/" class="inline-block w-full px-16 pt-16 pb-4 text-white hover:bg-orange no-underline">Booklog</a></h1>
        <nav class="">
            <ul class="flex flex-col list-reset ">
                <li class="block text-right"><a class="w-full inline-block no-underline hover:bg-orange text-white px-16 py-4" href="/book/list">All Books</a></li>

                <li class="block text-right"><a class="w-full inline-block no-underline hover:bg-orange text-white px-16 py-4" href="/book/add">Add Book</a></li></li>

                <li class="block text-right"><a class="w-full inline-block no-underline hover:bg-orange text-white px-16 py-4" href="/book/add">Search Books</a></li></li>
            </ul>
        </nav>
</header>

<footer class="bg-grey-darkest text-grey-lightest p-12">
    <div class="container mx-auto">

        <strong>Total Pages:</strong>

        <span th:text="${pageTotal}"></span>

    </div>
</footer>

</body>
</html>
