<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet" />
    <title th:text="${pageTitle}">Booklog</title>
</head>
<body>

<header th:fragment="header" class="bg-orange-dark text-white w-1/4 py-16 pr-16 flex flex-col items-end">
    <!--<div class="flex flex-col">-->
        <h1 class="uppercase tracking-wide font-thin pr-2"><a href="/" class="text-white no-underline">Booklog</a></h1>
        <nav class="w-full">
            <ul class="flex flex-col list-reset items-end w-full">
                <li class="mt-8"><a class="text-orange-lightest hover:text-white border-r-4 border-transparent hover:border-white no-underline pr-2 font-bold lowercase" href="/book/list">All Books</a></li>

                <li class="mt-8"><a class="text-orange-lightest hover:text-white border-r-4 border-transparent hover:border-white no-underline pr-2 font-bold lowercase" href="/book/add">Add Book</a></li></li>

                <li class="mt-8"><a class="text-orange-lightest hover:text-white border-r-4 border-transparent hover:border-white no-underline pr-2 font-bold lowercase" href="/book/add">Search Books</a></li></li>
            </ul>
        </nav>
    <!--</div>-->
</header>

<footer class="bg-grey-darkest text-grey-lightest p-12">
    <div class="container mx-auto">

        <strong>Total Pages:</strong>

        <span th:text="${pageTotal}"></span>

    </div>
</footer>

</body>
</html>
