<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600" rel="stylesheet">
    <title th:text="${pageTitle}">Booklog</title>
    <style>
        html {
            font-family: 'Fira Sans', sans-serif;
            color: #22292F;
        }
        [v-cloak] {
            display: none;
        }


    </style>
</head>
<body>

<header th:fragment="header" class="w-1/4 flex flex-col bg-orange-dark text-white shadow-md">
    <h1 class="w-full text-right text-5xl font-normal tracking-wide">
        <a href="/" class="inline-block w-full px-16 pt-16 pb-4 text-white hover:bg-orange no-underline"
        >Booklog</a></h1>
    <nav class="">
        <ul class="flex flex-col list-reset text-2xl uppercase">
            <li class="block text-right"><a
                    class="w-full inline-block no-underline hover:bg-orange-light text-white px-16 py-4"
                    href="/library">Library</a></li>
            <ul class="list-reset bg-orange text-base shadow-inner">
                <li class="block text-right"><a
                        class="w-full inline-block no-underline hover:bg-orange-light text-white px-16 py-5"
                        href="/library/reading">Reading</a></li>

                <li class="block text-right"><a
                        class="w-full inline-block no-underline hover:bg-orange-light text-white px-16 py-5"
                        href="/library/interested">Interested</a></li>

                <li class="block text-right"><a
                        class="w-full inline-block no-underline hover:bg-orange-light text-white px-16 py-5"
                        href="/library/finished">Finished</a></li>
            </ul>
            <li class="block text-right"><a
                    class="w-full inline-block no-underline hover:bg-orange-light text-white px-16 py-4"
                    href="/book/add">Add</a></li>
            </li>

            <!--<li class="block text-right"><a class="w-full inline-block no-underline hover:bg-orange text-white px-16 py-4 uppercase text-xl" href="/book/add">Search</a></li></li>-->
        </ul>
    </nav>
</header>

<h1 th:fragment="pageTitle" class="inline-block text-4xl font-normal capitalize tracking-wide mt-3 mb-6" th:text="${pageTitle}"></h1>

<footer class="bg-grey-darkest text-grey-lightest p-12">
    <div class="container mx-auto">

        <strong>Total Pages:</strong>

        <span th:text="${pageTotal}"></span>

    </div>
</footer>

<div th:fragment="scripts">
    <script src="https://unpkg.com/vue@2.6.2/dist/vue.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/main.js"></script>
</div>

</body>
</html>
